# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userprefs
*.vcmeta
*.log

# Project specific
temp/

# User-specific files
.idea/
.vscode/

# Build results
[Aa]ppHost.exe
[Cc]omHost.dll
*.pdb
*.config
*.json.user
*.dll
*.exe
*.deps.json
*.runtimeconfig.json
/publish/
/runtimes/
/win-x64/
/GW2PS/
/scratch/
desktop.ini
Microsoft.Web.WebView2.*.xml

# WebView2
*.WebView2/
EBWebView/

# Local Installer Scripts
setup_script.iss

# Backups and local builds
*.bak
[Oo]utput/
